# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vs/VSWorkspaceState.json
.vs/virtual-mall/v16/.suo
.vs/slnx.sqlite


.vs/slnx.sqlite
.env
.env
app/.env
.env
app/.env
